<div class="card my-5">
    <div class="card-body">
      <table class="table table-bordered table-striped">
        <thead class="thead-dark">
          <tr>
            <th scope="col">#</th>
            <th scope="col">Todo List ID</th>
            <th scope="col">Title</th>
            <th scope="col">Description</th>
            <th scope="col">Active</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let item of itens">
            <td>{{ item.id }}</td>
            <td>{{ item.todoList.id }}</td>
            <td>{{ item.title }}</td>
            <td>{{ item.description }}</td>
            <td>{{ item.active }}</td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>